body {
  height: 100dvh;
  width: 100dvw;
  margin: 0 !important;
  background: linear-gradient(135deg, #232526, #414345); /* siyah-gri degrade */
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  color: #ff4b8b;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(255, 75, 139, 0.8);
  margin-bottom: 25px;
  animation: fadeDown 1.2s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08); /* glass */
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  max-width: 420px;
  width: 90%;
  animation: fadeUp 1.5s ease;
}

.input_group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

select,
input {
  flex: 1;
  padding: 12px 18px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 12px;
  background: rgba(20, 20, 20, 0.9);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

select:hover,
input:hover {
  border: 2px solid #ff4b8b;
  background: rgba(40, 40, 40, 1);
  box-shadow: 0 0 15px #ff4b8b, 0 0 30px rgba(247, 36, 110, 0.6);
  transform: translateY(-3px);
}

#firstoption,
#secondoption {
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}
input[readonly] {
  background-color: rgba(60, 60, 60, 0.9);
  font-weight: bold;
  color: #ff4b8b;
  text-align: center;
}

.swap-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#swapBtn i {
  font-size: 1.5rem;
  color: wheat;
}
#swapBtn {
  background: #ff4b8b;
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 0 15px rgba(255, 75, 139, 0.7);
}

#swapBtn:hover {
  background: #ff1e68;
  transform: rotate(180deg);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
