body {
  height: 100dvh;
  width: 100dvw;
  margin: 0 !important;
  background-color: #779977;
}

h1 {
  color: #ffffff;
  font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

select {
  padding: 8px;
  border: 3px solid rgb(4, 4, 4);
  border-radius: 5px;
  background-color: white;
  transition: 0.3s;
}

select:hover {
  color: rgb(116, 239, 63);
  background-color: #f0f8ff;
}

#volume {
  display: none;
}
#temperature {
  display: none;
}
#length {
  display: none;
}
#weight {
  display: block;
  justify-items: center;
  justify-self: center;
}
#weight select {
  display: flex;
  justify-items: center;
  justify-self: center;
}

#length select {
  display: flex;
  justify-items: center;
  justify-self: center;
}

#temperature select {
  display: flex;
  justify-items: center;
  justify-self: center;
}

#volume select {
  display: flex;
  justify-items: center;
  justify-self: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#converter_choices {
  display: flex;
  justify-content: center;
  align-items: center;
}
